[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
constructs = "~=10.1.145"
cdk8s = "~=2.5.33"
cdk8s-plus-25 = "~=2.0.9"

[pipenv]
allow_prereleases = true
